<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        h1 { 
            color: blue;
            text-decoration:  underline;
        }
    </style>
</head>
<body>
    <h1>Congratulations your gift has been Accepted!</h1>
    <h2>Your gift to {{name}} had been accepted</h2>
    <h2>Please click the link to view gift</h2> 
    {{!-- <h3>http://127.0.0.1:5173/dashboard</h3> --}}
</body>
</html>