<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        h1 { 
            color: red;
        }
    </style>
</head>
<body>
    <h1>Congratulation you have received gift</h1>
    <h2>You have received gift from {{name}} in GiftHub.ai App</h2>
    <h2>Please checkout GiftHub.ai app to view your gift</h2> 
</body>
</html>